/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
    --text-color:#939CAA;
    --title-color:#495567;
    --snow-color:#F2F5F9;
    --extra-color:#E5ECF4;
    --site-bg-color:#ffffff;
    --footer-bg-top: #495567;
    --footer-bg-bottom:#333A44;
    --btn-bg:#FCB72B;


    /*Site Fonts*/
    --text-font:"Lexend Deca", "Arial", sans-serif;
    --title-font:"Space Mono", "Arial", sans-serif;
}

/*WEB FONTS RELATED*/

@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"),
        url("../fonts/LexendDeca-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"),
        url("../fonts/SpaceMono-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family:var(--text-font);
    font-size: 15px;
    line-height: 25px;
    background-color: var(--site-bg-color);
    color: var(--text-color);
}
.container{
    max-width: 1350px;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: auto;
    margin-right: auto;
}
/* ABOUT MAIN */

/* ABOUT HERO */

.about-hero{
    background-color:rgba(47, 59, 89, 0.75);
}

.about-hero__container{
    padding-top: 72px;
    padding-bottom: 72px;
    color: var(--site-bg-color);
    background-image:url(../images/site-footer-bg-circles/site-hero-bg-circles.svg),
    linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),  
    url(../images/tinified/about-bg.png);
    background-repeat: no-repeat;
    background-size:234px 64px,100%, 1440px 200px ;
    background-position:1200px center, 0 0, center center;
}

.about-hero__title{
    margin: 0;
    padding: 0;
    margin-right: auto;
}

/* ABOUT OFFER */

.about-offer .about-offer__container{
    padding: 0;
    padding-top: 120px;
}

.about-offer__list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.about-offer__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0;
    margin-bottom: 120px ;
}

.about-offer__item:nth-child(2n+1){
    padding-left: 120px;
}

.about-offer__item:nth-child(2n){
    padding-right: 120px;
}

.about-offer__wrap{
    width: 445px;
    padding-top: 125px;
    padding-bottom: 125px;
}

.mobility::after{
    position: relative;
    content: "";
    width: 954px;
    height: 445px;
    background-image:url(../images/site-footer-bg-circles/yellow-arrow-to-left2.svg),
     url(../images/tinified/mobility-for.png);
    background-repeat: no-repeat;
    background-size:735px 150px, 610px 445px;
    background-position:95px 268px, 190px center;    
}

.better::before{
    position: relative;
    content: "";
    width: 954px;
    height: 445px;
    background-image:url(../images/site-footer-bg-circles/yellow-arrow-to-right.svg),
     url(../images/tinified/better.png);
    background-repeat: no-repeat;
    background-size:735px 150px, 610px 445px;
    background-position:-375px 0, -45px center; 
    
}

.about-offer__name{
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;    
    width: 445px;
    margin: 0;
    margin-bottom: 24px;
    color: var(--title-color);
    width: 445px;
}

.about-offer__text{
    margin: 0;
    width: 445px;
}

/* VALUES */

.values__container{
    padding-bottom: 120px;
}

.values__title{
    font-family: var(--title-font);
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--title-color);    
}

.values__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-right: -31px;
}

.values__item{
    width: 350px;
    margin-right: 30px;
}
.values__img{
    display: block;
    margin: 64px auto;
    border-radius: 120px;
}

.values__name{
    margin: 0;
    margin-bottom: 27px;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--title-color);
    text-align: center;
    letter-spacing: -1.07143px;    
}

.values__text{
    margin: 0;
    text-align: center;
}

/* FAQ  */

.faqs-section__container{
    padding-bottom: 160px;
}

.faqs-section__title{
    margin: 0;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: var(--title-color);
    font-family: var(--title-font);
    text-align: center;
    letter-spacing: -2.14286px;
}
.how-it-works{
    display: flex;
    align-items: start;
}
.how-it-works:not(:last-child){
    margin-bottom: 64px;
}
.how-it-works__title{
    margin: 0;
    width: 350px;
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    margin-right: 30px;
}
.work-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 730px;
    margin-left: auto;
}
.work-item{
    padding: 32px 40px;
    background-color: var(--snow-color);
    color: var(--title-color);
    position: relative;
}
.work-item::after{
    content: "";
    width: 16px;
    height: 8px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../images/site-footer-bg-circles/up.png");
    position: absolute;
    top: 42px;
    right: 40px;
}
.work-item:active::after{
    transition:ease 0.3s;
     transform: rotate(180deg);
}

.work-item:active .work-item__text{
    display: block;
    margin-top: 24px;
}

.work-item:not(:last-child){
    margin-bottom: 16px;
}
.work-item__title{
    margin: 0;
    font-weight: bold;
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
}
.work-item__text{
    margin: 0;
    display: none;
    margin-top: 24px;
}

.safe-driving{
    display: flex;
    align-items: start;
}