/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
    --text-color:#939CAA;
    --title-color:#495567;
    --extra-color:#E5ECF4;
    --site-bg-color:#ffffff;
    --footer-bg-top: #495567;
    --footer-bg-bottom:#333A44;
    --btn-bg:#FCB72B;


    /*Site Fonts*/
    --text-font:"Lexend Deca", "Arial", sans-serif;
    --title-font:"Space Mono", "Arial", sans-serif;
}

/*WEB FONTS RELATED*/

@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"),
        url("../fonts/LexendDeca-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"),
        url("../fonts/SpaceMono-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family:var(--text-font);
    font-size: 15px;
    line-height: 25px;
    background-color: var(--site-bg-color);
    color: var(--text-color);
}
.container{
    max-width: 1350px;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: auto;
    margin-right: auto;
}
/* ABOUT MAIN */

/* ABOUT HERO */

.about-hero{
    background-color:rgba(47, 59, 89, 0.75);
}

.about-hero__container{
    padding-top: 72px;
    padding-bottom: 72px;
    color: var(--site-bg-color);
    background-image:url(../images/site-footer-bg-circles/site-hero-bg-circles.svg),
    linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),  
    url(../images/tinified/about-bg.png);
    background-repeat: no-repeat;
    background-size:234px 64px,100%, 1440px 200px ;
    background-position:1200px center, 0 0, center center;
}

.about-hero__title{
    margin: 0;
    padding: 0;
    margin-right: auto;


}