/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
    --text-color:#939CAA;
    --title-color:#495567;
    --extra-color:#E5ECF4;
    --site-bg-color:#ffffff;
    --footer-bg-top: #495567;
    --footer-bg-bottom:#333A44;
    --btn-bg:#FCB72B;


    /*Site Fonts*/
    --text-font:"Lexend Deca", "Arial", sans-serif;
    --title-font:"Space Mono", "Arial", sans-serif;
}

/*WEB FONTS RELATED*/

@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"),
        url("../fonts/LexendDeca-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"),
        url("../fonts/SpaceMono-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.site-main{
    flex-grow: 1;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family:var(--text-font);
    font-size: 15px;
    line-height: 25px;
    background-color: var(--site-bg-color);
    color: var(--text-color);
}
.container{
    max-width: 1440px;
    padding-left: 165px;
    padding-right: 165px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

/* SITE HEADER */

.site-header{
    background-color: var(--site-bg-color);
    font-family: var(--title-font);
}

.site-header__container{
    padding-top: 22px;
    padding-bottom: 21px;
    display: flex;
    align-items: center;
}

.site-header__logo-link{
    display: block;
    margin-right: 60px;
}

.site-header__logo-img{
    display: block;
}

.sitenav{
    margin-right: auto;
}

.sitenav__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sitenav__item:not(:last-child){
    margin-right: 32px;
}

.sitenav__link{
    text-decoration: none;
    color: inherit;
}

.sitenav__link:hover{
    color: var(--title-color);
}
.sitenav__link:active{
    opacity: 0.7;
}

.site-header__btn{
    text-decoration: none;
    color: var(--site-bg-color);
    padding: 12px 37px;
    background-color: var(--btn-bg);
    border: 2px solid var(--btn-bg);
}

.site-header__btn:hover{
    background-color: var(--extra-color);
    color: var(--btn-bg);
}
.site-header__btn:active{
    opacity: 0.7;
}

/* SITE FOOTER */

/* SITE FOOTER TOP */

.site-footer__top{
    background-color: var(--footer-bg-top);
}

.site-footer__top-container{
    padding-top: 102px;
    padding-bottom: 102px;
    display: flex;
    align-items: center;
    background-image: url(../images/site-footer-bg-circles/site-footer-bg-circles.svg);
    background-repeat: no-repeat;
    background-size: 1153px 347px;
    background-position: 450px 150px;
}

.site-footer__top-about{
    margin: 0;
    padding: 0;
    width: 415px;
    margin-right: auto;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--site-bg-color);
}

.site-footer__top-list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer__top-item:not(:last-child){
    margin-right: 18px;
}

.site-footer__top-link{
    display: block;
}

.site-footer__top-img{
    display: block;
}

/* SITE FOOTER BOTTOM */

.site-footer__bottom{
    background-color: var(--footer-bg-bottom);
}

.site-footer__bottom-container{
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 33px;
}

.site-footer__logo-link{
    margin-right: 60px;
}

.site-footer__logo-img{
    display: block;
}

.site-footer-nav{
    margin-right: auto;
}

.site-footer-nav__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer-nav__item:not(:last-child){
    margin-right: 32px;
}

.site-footer-nav__link{
    text-decoration: none;
    color: inherit;
}

.site-footer-nav__link:hover{
    color: var(--title-color);
}
.site-footer-nav__link:active{
    opacity: 0.7;
}

.footer-social__list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-social__item:not(:last-child){
    margin-right: 24px;
}

.footer-social__link{
    display: block;
}

.footer-social__img{
    display: block;
}
