/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
    --text-color:#939CAA;
    --title-color:#495567;
    --extra-color:#E5ECF4;
    --snow-color:#F2F5F9;
    --site-bg-color:#ffffff;
    --footer-bg-top: #495567;
    --footer-bg-bottom:#333A44;
    --btn-bg:#FCB72B;


    /*Site Fonts*/
    --text-font:"Lexend Deca", "Arial", sans-serif;
    --title-font:"Space Mono", "Arial", sans-serif;
}

/*WEB FONTS RELATED*/

@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"),
        url("../fonts/LexendDeca-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"),
        url("../fonts/SpaceMono-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.site-main{
    flex-grow: 1;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family:var(--text-font);
    font-size: 15px;
    line-height: 25px;
    background-color: var(--site-bg-color);
    color: var(--text-color);
}
.container{
    max-width: 1350px;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

/* SITE HEADER */

.site-header{
    background-color: var(--site-bg-color);
    font-family: var(--title-font);
}

.site-header__container{
    padding-top: 22px;
    padding-bottom: 21px;
    display: flex;
    align-items: center;
}

.site-header__logo-link{
    display: block;
    margin-right: 60px;
}

.site-header__logo-img{
    display: block;
}

.sitenav{
    margin-right: auto;
}

.sitenav__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sitenav__item:not(:last-child){
    margin-right: 32px;
}

.sitenav__link{
    text-decoration: none;
    color: inherit;
}

.sitenav__link:hover{
    color: var(--btn-bg);
}
.sitenav__link:active{
    opacity: 0.7;
}

.site-header__btn{
    text-decoration: none;
    color: var(--site-bg-color);
    padding: 12px 37px;
    background-color: var(--btn-bg);
    border: 2px solid var(--btn-bg);
}

.site-header__btn:hover{
    background-color:transparent;
    color: var(--btn-bg);
}
.site-header__btn:active{
    opacity: 0.7;
}

/* SITE FOOTER */

/* HOME PAGES */
/* ////////////////////////////////////////////////////////////////////////////////// */

.hero{
    background-color:rgba(47, 59, 89, 0.75);
}

.hero__container{
    padding-top: 153px;
    padding-bottom: 152px;
    color: var(--site-bg-color);
    background-image:url(../images/site-footer-bg-circles/site-hero-bg-circles.svg),
    linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),  
    url(../images/tinified/site-hero-bg-scoot.png);
    background-repeat: no-repeat;
    background-size:234px 64px,100%, 2610px 1740px ;
    background-position:1200px 400px, 0 0, -300px -1000px;
}

.hero__title{
    margin: 0;
    padding: 0;
    width: 500px;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    margin-bottom: 40px;
}

.hero__text{
    position: relative;
    margin: 0;
    margin-left: 95px;
    margin-bottom:40px ;
    width: 405px;
}

.hero__text::before{
    position: absolute;
    content: "";
    width: 203px;
    height: 30px;
    background-image: url(../images/site-footer-bg-circles/site-hero-horizontal-line.svg);
    background-size: 203px 30px;
    background-repeat: no-repeat;
    background-position: center left;
    left: -260px;
    top: 34px;
}

.hero__text::after{
    position: absolute;
    content: "";
    width: 462px;
    height: 138px;
    background-image: url(../images/site-footer-bg-circles/site-hero-right-line.svg);
    background-size:462px 138px;
    background-repeat: no-repeat;
    background-position: center right;
    right: -490px;
    top: 34px;
}

.hero__btn{
    text-decoration: none;
    color: var(--site-bg-color);
    padding: 12px 37px;
    background-color: var(--btn-bg);
    border: 2px solid var(--btn-bg);
    margin: 0;
    margin-left: 95px;
}

.hero__btn:hover{
    background-color: transparent;
    color: var(--btn-bg);
}
.hero__btn:active{
    opacity: 0.7;
}

/* SERVICES */

.services__container{
    padding-top: 160px;
    padding-bottom: 160px;
    background-image: url(../images/site-footer-bg-circles/services__line.svg);
    background-repeat: no-repeat;
    background-size: 974px 30px;
    background-position: 0 200px;
}

.services__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.services__item:not(:last-child){
    margin-right: 29px;
}

.services__item{
    width: 350px;
}

.services__wrap{
    width: 96px ;
    height: 96px;
    border-radius: 50%;
    background-color: var(--btn-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.services__wrap:hover{
    opacity: 0.7;
}

.services__wrap:active{
    transform: scale(0.9);
}

.services__img{
    display: block;
}

.services__name{
    margin: 0;
    margin-bottom: 27px;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: var(--title-color);
}

.services__text{
    margin: 0; 
}

/* OFFER */

.offer .offer__container{
    padding: 0;
    padding-top: 40px;
    padding-bottom: 200px;
    
}

.offer__list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.offer__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0;
    margin: 0;
}

.offer__item:nth-child(2n+1){
    padding-left: 120px;
}

.offer__item:nth-child(2n){
    padding-right: 120px;
}

.offer__item:not(:last-child){
    margin-bottom: 160px;
}

.offer__wrap{
    width: 445px;
    padding-top: 66px;
    padding-bottom: 66px;
}

.easu-to::after{
    position: relative;
    content: "";
    width: 954px;
    height: 445px;
    background-image:url(../images/site-footer-bg-circles/yellow-arrow-to-left.svg),
     url(../images/tinified/easu-to-use-riding-telemetry.png);
    background-repeat: no-repeat;
    background-size:735px 150px, 954px 445px;
    background-position: 95px 295px, 180px center;
}
.zero::after{
    position: relative;
    content: "";
    width: 954px;
    height: 445px;
    background-image:url(../images/site-footer-bg-circles/yellow-arrow-to-left.svg),
     url(../images/tinified/zero-hassle-payments.png);
    background-repeat: no-repeat;
    background-size:735px 150px, 954px 445px;
    background-position:425px 90px, 180px center;    
}

.comming-to::before{
    position: relative;
    content: "";
    width: 954px;
    height: 445px;
    background-image: url(../images/site-footer-bg-circles/yellow-arrow-to-right.svg),
    url(../images/tinified/Coming-to-a-city-near-you.png);
    background-repeat: no-repeat;
    background-size:735px 150px,954px 445px;
    background-position:-384px 0, -344px center; 
    
}

.offer__name{
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;    
    width: 445px;
    margin: 0;
    margin-bottom: 24px;
    color: var(--title-color);
    width: 445px;
}

.offer__text{
    margin: 0;
    margin-bottom: 40px;
    width: 445px;
}

.offer__link-btn{
    font-family: var(--title-font);
    text-decoration: none;
    color: var(--site-bg-color);
    padding: 14px 45px;
    background-color: var(--btn-bg);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    border: 2px solid var(--btn-bg);
}

.offer__link-btn:hover{
    color: var(--btn-bg);
    background-color: transparent;
}

.offer__link-btn:active{
    opacity: 0.7;
}

/* LOCATION SECTION */

.location__container{
    padding-top: 120px;
    padding-bottom: 120px;
}

.location-img{
    display: block;
    margin-bottom: 120px;
}

.location-wrap{
    display: flex;
    align-items: center;
}

.location-title{
    font-family: var(--title-font);
    color: var(--footer-bg-top);
    width: 450px;
    margin: 0;
    margin-right: 30px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;  
    padding: 0;  
}

.location-text{
    margin: 0;
    width: 445px;
    margin-right: 105px;
}

.location-link{
    width: 180px;
    font-family: var(--title-font);
    text-decoration: none;
    color: var(--site-bg-color);
    padding: 14px;
    background-color: var(--btn-bg);
    font-weight: bold;
    text-align: center;
    border: 2px solid var(--btn-bg);
}

.location-link:hover{
    color: var(--btn-bg);
    background-color: transparent;
}

.location-link:active{
    opacity: 0.7;
}
/* ABOUT */
/* ////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////// */

/* ABOUT HERO */

.about-hero{
    background-color:rgba(47, 59, 89, 0.75);
}

.about-hero__container{
    padding-top: 72px;
    padding-bottom: 72px;
    color: var(--site-bg-color);
    background-image:url(../images/site-footer-bg-circles/site-hero-bg-circles.svg),
    linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),  
    url(../images/tinified/about-bg.png);
    background-repeat: no-repeat;
    background-size:234px 64px,100%, 1440px 200px ;
    background-position:1200px center, 0 0, center center;
    display: flex;
    align-items: center;
}

.about-link-logo{
    display: block;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.about-img-logo{
    display: block;
}

/* ABOUT OFFER */

.about-offer .about-offer__container{
    padding: 0;
    padding-top: 120px;
}

.about-offer__list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.about-offer__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0;
    margin-bottom: 120px ;
}

.about-offer__item:nth-child(2n+1){
    padding-left: 120px;
}

.about-offer__item:nth-child(2n){
    padding-right: 120px;
}

.about-offer__wrap{
    width: 445px;
    padding-top: 125px;
    padding-bottom: 125px;
}

.mobility::after{
    position: relative;
    content: "";
    width: 954px;
    height: 445px;
    background-image:url(../images/site-footer-bg-circles/yellow-arrow-to-left2.svg),
     url(../images/tinified/mobility-for.png);
    background-repeat: no-repeat;
    background-size:735px 150px, 610px 445px;
    background-position:95px 268px, 190px center;    
}

.better::before{
    position: relative;
    content: "";
    width: 954px;
    height: 445px;
    background-image:url(../images/site-footer-bg-circles/yellow-arrow-to-right.svg),
     url(../images/tinified/better.png);
    background-repeat: no-repeat;
    background-size:735px 150px, 610px 445px;
    background-position:-375px 0, -45px center; 
    
}

.about-offer__name{
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;    
    width: 445px;
    margin: 0;
    margin-bottom: 24px;
    color: var(--title-color);
    width: 445px;
}

.about-offer__text{
    margin: 0;
    width: 445px;
}

/* VALUES */

.values__container{
    padding-bottom: 120px;
}

.values__title{
    font-family: var(--title-font);
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--title-color);    
}

.values__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-right: -31px;
}

.values__item{
    width: 350px;
    margin-right: 30px;
    position: relative;
}
.values__img{
    display: block;
    margin: 84px auto;
    border-radius: 120px;
}

.values__item::after{
    position: absolute;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: var(--btn-bg);
    left: 127px;
    top: 277px;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.values__item:nth-child(1):after{
    content: "01";
}

.values__item:nth-child(2):after{
    content: "02";
}
.values__item:nth-child(3):after{
    content: "03";
}

.values__name{
    margin: 0;
    margin-bottom: 27px;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--title-color);
    text-align: center;
    letter-spacing: -1.07143px;    
}

.values__text{
    margin: 0;
    text-align: center;
}

/* FAQ  */

.faqs-section__container{
    padding-bottom: 160px;
}

.faqs-section__title{
    margin: 0;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: var(--title-color);
    font-family: var(--title-font);
    text-align: center;
    letter-spacing: -2.14286px;
}
.how-it-works{
    display: flex;
    align-items: start;
}
.how-it-works:not(:last-child){
    margin-bottom: 64px;
}
.how-it-works__title{
    margin: 0;
    width: 350px;
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    margin-right: 30px;
}
.work-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 730px;
    margin-left: auto;
}
.work-item{
    padding: 32px 40px;
    background-color: var(--snow-color);
    color: var(--title-color);
    position: relative;
}
.work-item::after{
    content: "";
    width: 16px;
    height: 8px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../images/site-footer-bg-circles/up.png");
    position: absolute;
    top: 42px;
    right: 40px;
}

.work-item:active{
    background-color: #FFF4DF;
}

.work-item:active::after{
    transition:ease 0.3s;
     transform: rotate(180deg);
}

.work-item:active .work-item__text{
    display: block;
    margin-top: 24px;
}

.work-item:not(:last-child){
    margin-bottom: 16px;
}
.work-item__title{
    margin: 0;
    font-weight: bold;
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
}
.work-item__text{
    margin: 0;
    display: none;
    margin-top: 24px;
}

.safe-driving{
    display: flex;
    align-items: start;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* CAREERS*/
/* ////////////////////////////////////////////////////////////////////////////////// */
/* CAREERS HERO */
.careers-hero{
    background-color:rgba(47, 59, 89, 0.75);
}

.careers-hero__container{
    padding-top: 72px;
    padding-bottom: 72px;
    color: var(--site-bg-color);
    background-image:url(../images/site-footer-bg-circles/site-hero-bg-circles.svg),
    linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),  
    url(../images/tinified/about-bg.png);
    background-repeat: no-repeat;
    background-size:234px 64px,100%, 1440px 200px ;
    background-position:1200px center, 0 0, center center;
}

.careers-link-logo{
    display: block;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.careers-img-logo{
    display: block;
}

/* CAREERS OFFER */

.careers-offer .careers-offer__container{
    padding: 0;
    padding-top: 120px;
}

.careers-offer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0;
    margin-bottom: 120px ;
    padding-left: 120px;
}

.careers-offer__wrap{
    width: 445px;
    padding-top: 66px;
    padding-bottom: 66px;
}

.careers-offer__wrapper::after{
    position: relative;
    content: "";
    width: 954px;
    height: 445px;
    background-image:
     url(../images/tinified/careers-img.png);background-repeat: no-repeat;
    background-size: 741px 445px;
    background-position:95px center;    
}

.careers-offer__name{
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;    
    width: 445px;
    margin: 0;
    margin-bottom: 24px;
    color: var(--title-color);
    width: 445px;
}

.careers-offer__text{
    padding: 0;
    margin: 0;
    width: 445px;
    padding-bottom: 40px;
}

.careers-offer__link-btn{
    font-family: var(--title-font);
    text-decoration: none;
    color: var(--site-bg-color);
    padding: 14px 45px;
    background-color: var(--btn-bg);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    border: 3px solid var(--btn-bg);
}

.careers-offer__link-btn:hover{
    background-color: transparent;
    color: var(--btn-bg);
}

/* SPECIFIC */

.specific__container{
    padding-bottom: 136px;
}

.specific__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.specific__item{
    display: flex;
    align-items: center;
    padding: 32px 64px 35px 40px;
    background-color: var(--snow-color);
    margin-bottom: 24px;
    justify-content: space-between;
}

.specific__name{
    font-family: var(--title-font);
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px; 
    color: var(--footer-bg-top); 
    margin-bottom: 8px;  
}

.specific__text{
    margin: 0;
    color: var(--footer-bg-top);
}

.apply-btn{
    width: 180px;
    display: block;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    color: var(--site-bg-color);
    background-color: var(--btn-bg);
    border: 2px solid var(--btn-bg);
}

.apply-btn:hover{
    color: var(--btn-bg);
    background-color: transparent;
}

.apply-btn:active{
    opacity: 0.7;
}


/* ////////////////////////////////////////////////////////////////////////////////// */

/* LOCATION*/
/* ////////////////////////////////////////////////////////////////////////////////// */

.location-hero{
    background-color:rgba(47, 59, 89, 0.75);
}

.location-hero__container{
    padding-top: 72px;
    padding-bottom: 72px;
    color: var(--site-bg-color);
    background-image:url(../images/site-footer-bg-circles/site-hero-bg-circles.svg),
    linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),  
    url(../images/tinified/about-bg.png);
    background-repeat: no-repeat;
    background-size:234px 64px,100%, 1440px 200px ;
    background-position:1200px center, 0 0, center center;
}

.location-link-logo{
    display: block;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.location-img-logo{
    display: block;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* SITE FOOTER TOP */

.site-footer__top{
    background-color: var(--footer-bg-top);
}

.site-footer__top-container{
    padding-top: 102px;
    padding-bottom: 102px;
    display: flex;
    align-items: center;
    background-image: url(../images/site-footer-bg-circles/site-footer-bg-circles.svg);
    background-repeat: no-repeat;
    background-size: 1153px 347px;
    background-position: 405px 150px;
}

.site-footer__top-about{
    margin: 0;
    padding: 0;
    width: 415px;
    margin-right: auto;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--site-bg-color);
}

.site-footer__top-list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer__top-item:not(:last-child){
    margin-right: 18px;
}

.site-footer__top-link{
    display: block;
}

.site-footer__top-img{
    display: block;
}

/* SITE FOOTER BOTTOM */

.site-footer__bottom{
    background-color: var(--footer-bg-bottom);
}

.site-footer__bottom-container{
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 33px;
}

.site-footer__logo-link{
    margin-right: 60px;
}

.site-footer__logo-img{
    display: block;
}

.site-footer-nav{
    margin-right: auto;
}

.site-footer-nav__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer-nav__item:not(:last-child){
    margin-right: 32px;
}

.site-footer-nav__link{
    text-decoration: none;
    color: inherit;
}

.site-footer-nav__link:hover{
    color: var(--btn-bg);
}
.site-footer-nav__link:active{
    opacity: 0.7;
}

.footer-social__list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-social__item:not(:last-child){
    margin-right: 24px;
}

.footer-social__link{
    display: block;
}

.footer-social__img{
    display: block;
}

@media only screen and (max-width:768px){
    .container{
        padding-left: 35px;
        padding-right: 35px;
    }

    /* SITE FOOTER */
    .site-footer__top{
        background-color: var(--footer-bg-top);
    }
    
    .site-footer__top-container{
        padding-top: 62px;
        padding-bottom: 62px;
        display: block;
        background-image: url(../images/site-footer-bg-circles/site-footer-bg-circles.svg);
        background-repeat: no-repeat;
        background-size: 1153px 347px;
        background-position: center 150px;
        text-align: center;
    }
    
    .site-footer__top-about{
        width: 457px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    
    .site-footer__top-list{     
        justify-content: center;
    }
    
   
/* MAIN PAGE */
/* HERO */

    .hero__container{
        padding-top: 138px;
        padding-bottom: 217px;
        color: var(--site-bg-color);
        background-image:url(../images/site-footer-bg-circles/site-hero-right-line.svg),
        url(../images/site-footer-bg-circles/site-hero-bg-circles.svg),
        linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),  
        url(../images/tinified/site-hero-bg-scoot.png);
        background-repeat: no-repeat;
        background-size:447px 138px,234px 64px,100%,2610px 1740px;
        background-position:-127px 473px,565px 543px, 0 0, -746px -944px;
        text-align: center;
    }

    .hero__title{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }

    .hero__text{
        position:static;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:32px;
        width: 573px;
    }

    .hero__text::before{
        display: none;
    }
    
    .hero__text::after{
      display: none;
    }

    .hero__btn{
        text-decoration: none;
        color: var(--site-bg-color);
        padding: 12px 37px;
        background-color: var(--btn-bg);
        border: 2px solid var(--btn-bg);
        margin: 0;
    }

/* SERVICES */

.services__container{
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: none;
}

.services__list{
    margin-bottom: -40px;
}

.services__item:not(:last-child){
    margin-right: 0;
}
.services__item{
    margin-bottom: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.services__wrap{
    margin-right: 79px;
}

.services__wrapper{
    width: 400px;
}

/*MAIN OFFER */

    /* OFFER */

.offer .offer__container{
    padding: 0;
    padding-top: 25px;
    padding-bottom: 140px;
    
}

.offer__list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: -120px;
    padding: 0;
}

.offer__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:0;
    padding-bottom: 120px;
}

.offer__item:nth-child(2n+1){
    padding-left:0 ;
}

.offer__item:nth-child(2n){
    padding-right: 0;
}

.offer__item:not(:last-child){
    margin-bottom: 0;
}

.offer__wrap{
    width: 573px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:60px;
    padding-bottom: 0;
}

.easu-to::before{
    content: "";
    width: 954px;
    height: 445px;
    background-image:url(../images/site-footer-bg-circles/yellow-arrow-to-left.svg),
     url(../images/tinified/easu-to-use-riding-telemetry.png);
    background-repeat: no-repeat;
    background-size:735px 150px, 954px 445px;
    background-position: 120px 295px, 260px center;
}

.zero::before{
    content: "";
    width: 954px;
    height: 445px;
    background-image:url(../images/site-footer-bg-circles/yellow-arrow-to-left.svg),
     url(../images/tinified/zero-hassle-payments.png);
    background-repeat: no-repeat;
    background-size:735px 150px, 954px 445px;
    background-position:475px 90px, 260px center;    
}

.easu-to::after{
   display: none;
}
.zero::after{
    display: none;    
}

.comming-to::before{
   
    content: "";
    width: 954px;
    height: 445px;
    background-image: url(../images/site-footer-bg-circles/yellow-arrow-to-right.svg),
    url(../images/tinified/Coming-to-a-city-near-you.png);
    background-repeat: no-repeat;
    background-size:735px 150px,954px 445px;
    background-position:-300px 0, -260px center; 
    
}

.offer__name{
    width: 457px;
    margin-left: auto;
    margin-right: auto;
}

.offer__text{
    width: 573px;
    margin-left: auto;
    margin-right: auto;
}

.offer__link-btn{
    display: inline-block;
}



}