/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
    --text-color:#939CAA;
    --title-color:#495567;
    --extra-color:#E5ECF4;
    --site-bg-color:#ffffff;
    --footer-bg-top: #495567;
    --footer-bg-bottom:#333A44;
    --btn-bg:#FCB72B;


    /*Site Fonts*/
    --text-font:"Lexend Deca", "Arial", sans-serif;
    --title-font:"Space Mono", "Arial", sans-serif;
}

/*WEB FONTS RELATED*/

@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"),
        url("../fonts/LexendDeca-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"),
        url("../fonts/SpaceMono-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family:var(--text-font);
    font-size: 15px;
    line-height: 25px;
    background-color: var(--site-bg-color);
    color: var(--text-color);
}
.container{
    max-width: 1440px;
    padding-left: 165px;
    padding-right: 165px;
    margin-left: auto;
    margin-right: auto;
    
}